body{
    background-color:#171717;
}

.top-panel, .shows-panel{
    font-family: sans-serif;
    text-align: center;
}

.top-text{
    margin: 24px
}

.top-panel{
    margin-bottom: 40px;
    margin-top: 40px;
    
}

.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;

    
}

.card h4{
    color:whitesmoke;
    opacity: 50%;
}

.top-text{
    color: whitesmoke;
    opacity: 70%;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-content: center;
    justify-content: center;
    text-align:center

}

.card dd{
    text-align:justify;
    margin: auto;
}


.link-tvtime-profile{
    text-align: center;
    font-family: sans-serif;
    font-style:normal;;
}


